#vm-schedules>thead>tr>th:last-child {
	width: 10px;
}
@media (min-width: 769px) {
	#vm-schedules>thead>tr>th:first-child {
		width: 100px;
	}
}
th.next-execution {
	width: 150px;
}
.masonry-container .node.service-vm.mode-th-list table.subscriptions th.features {
	width: 145px;
}
.masonry-container .node.service-vm.mode-th-large table.subscriptions th.features {
	width: 140px;
}
.masonry-container .node.service-vm table.subscriptions th.features {
	width: 128px;
}
.fa.deployed:after {
	position: relative;
	content: "///";
	color: orange;
	left: 3px;
    float: left;
    width: 0;
}
.service-vm-schedule-check {
	position: absolute;
	width: 0;
	height: 0;
}
.service-vm-schedule-check i {
	position: relative;
    left: -6px;
    font-size: xx-small;
    padding: 0;
    top: 3px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    pointer-events: none;
}
.service-vm-status {
	text-shadow: black 0px 0px 1px;
}

.vm-snapshot-create-stop i, .vm-snapshot-create-no-stop i {
	position: relative;
	right: -5px;
	width: 0;
}

.vm-snapshot-create+.dropdown-menu {
	min-width: 200px;
}
.schedule-table-mapping {
	background-color: #eeeeee;
	color: #333333;
}
.schedule-table-mapping thead{
	background-color: #afafaf;
}